<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <title>Template</title>
  </head>


  <body>
    <div class="title">
      <h1> What is the probability that you will appear on Mars? </h1>
      <a href="../" id = "button"><b> > </b></a>
    </div>

    <div class="article" id="article">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae nostrum delectus officiis, iure fuga nihil. Excepturi dignissimos similique quae corporis quibusdam quisquam optio. A aliquid exercitationem, enim perspiciatis quos dolore illum nemo quibusdam mollitia eaque iure facere reiciendis nam dolores dolor necessitatibus deleniti aspernatur? Tenetur in enim corporis perferendis iste eveniet maxime inventore quisquam, alias pariatur quas deleniti accusantium explicabo atque facere minus cupiditate voluptate ab blanditiis. Nesciunt a, ad vitae accusamus ea consequuntur laudantium fugiat maiores recusandae, eveniet odio ullam temporibus ducimus cum at natus id harum amet fuga sequi culpa incidunt inventore accusantium. Mollitia provident earum tenetur in.</p> 

        <p class="math"> \[ f(x) = \sum_{n=0}^{N} \frac{n^2}{x} \iint_{a}^{b}{ln(x) dx} \]</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, iure voluptatibus. At, doloribus corporis! Quod hic sint atque enim voluptate in beatae consectetur dolorem, maxime, sunt dolor labore cum vitae iste vel. Porro, veniam. Nostrum itaque ad repudiandae ipsa. Sunt debitis delectus incidunt nisi voluptatem non obcaecati libero. Aliquid pariatur maxime rerum, magni rem tenetur ipsam odio, nobis voluptatibus veritatis explicabo error. Rerum facere distinctio ad totam accusamus ipsam nostrum neque eveniet quo. Nam rem cumque blanditiis quas beatae nemo id, provident deserunt praesentium mollitia quasi quibusdam esse maiores nesciunt debitis illo, fugit aliquam doloribus laboriosam minima assumenda minus odio?</p>

        <iframe src="graph.html" frameborder="0" class="graph"></iframe>

        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi nisi delectus eius provident deserunt aliquid quas dolorem odit perspiciatis, asperiores facilis eum quasi commodi laboriosam fugit ullam distinctio quam. Quam ipsum, nihil totam dolorem quis praesentium quibusdam libero suscipit corrupti quos sed voluptatibus iusto, cumque veritatis adipisci neque quaerat. Nostrum, asperiores. Obcaecati consequatur fugit, deleniti sint recusandae mollitia, laborum velit totam magni dolorem rerum aperiam iste! Ex atque eum quae qui veritatis. Sequi odit vel, omnis natus consequuntur veniam suscipit non inventore doloremque impedit cumque minima voluptatibus! Ea velit provident debitis fuga totam nulla praesentium ut possimus id. Laudantium, vitae.</p>
    </div>
  </body>
</html>
